attrs==20.2.0
backcall==0.2.0
base58==2.0.1
bitarray==1.2.2
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
cycler==0.10.0
cytoolz==0.11.0
decorator==4.4.2
eth-abi==2.1.1
eth-account==0.5.3
eth-hash==0.2.0
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.0
eth-typing==2.2.2
eth-utils==1.9.5
hexbytes==0.2.1
idna==2.10
ipfshttpclient==0.6.1
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
jsonschema==3.2.0
kiwisolver==1.2.0
lru-dict==1.1.6
matplotlib==3.3.2
multiaddr==0.0.9
netaddr==0.8.0
numpy==1.19.2
parsimonious==0.8.1
parso==0.7.1
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.7
protobuf==3.13.0
pycryptodome==3.9.8
Pygments==2.7.1
pyparsing==2.4.7
pypiwin32==223
pyrsistent==0.17.3
python-dateutil==2.8.1
pywin32==228
requests==2.24.0
rlp==2.0.0a1
rusty-rlp==0.1.15
scipy==1.5.2
six==1.15.0
toolz==0.11.1
traitlets==5.0.4
urllib3==1.25.10
varint==1.0.2
wcwidth==0.2.5
web3==5.12.1
websockets==8.1
